.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--background);
  padding: 2rem 0 4rem;
}

@media (min-width: 768px) {
  .page {
    min-height: calc(100vh + 8rem);
  }
}
