.offerCard {
  width: 370px;
  background-color: var(--third-color);
  color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  border-radius: 25px;
}

.offerHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.offersPhoto {
  position: relative;
  width: 310px;
  height: 345px;
}

.offerCheckHeader {
  display: flex;
  justify-content: center;
}

.offerChecks {
  min-width: 35px !important;
}

.photo {
  object-fit: cover;
}

@media (max-width: 450px) {
  .offerCard {
    width: 320px;
  }
}