:root {
    --background: #f9f6f1;
    --foreground: #v;
    --text-primary: #ededed;
    --text-second-color: #725e65;
    --second-color:#EAe5de;
    --third-color: #352228;
    --fourth-color: #4d3d42;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9f6f1;
    --foreground: #f9f6f1;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--third-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
