.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.photoWrapper {
  padding: 35px 0;
  display: flex;
  justify-content: center;
  max-width: 1400px;
  gap: 50px;
}



.photo {
  object-fit: cover;
}

.photoCover {
  position: relative;
  width: 475px;
  height: 507px;
}

.photoDescription {
  padding: 30px 0;

  h1 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.phtoDescriptionList {
  padding-top: 25px;
  min-width: 310px;
  display: flex;
  flex-direction: column;
  li {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
  }

  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 950px) {
  .photoWrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 10px;
  }
  
  .photoCover {
    width: 300px;
  }

  .photoDescription {
    padding: 0 0 10px 0;
  }

}

.aboutSection {
  background: var(--second-color);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 25px;
}

.aboutSectionWrapper {
  max-width: 1400px;
}

@media (max-width: 950px) {
  .aboutSection {
    padding: 20px 10px;
  }

  .aboutSectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
}

.whereWeMakeCall {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--background);
  padding: 50px 0;
}

.whereWeMaCallWrapper {
  width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  font-size: 24px;
}

@media (max-width: 950px) {
  .whereWeMakeCall {
    padding: 10px;
  }

  .whereWeMaCallWrapper {
    width: 100%;
  }
}

/* .faq {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.faqWrapepr {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    padding: 20px 0;
  }
}

.accordion {
  background-color: var(--second-color) !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;

  button {
     background-color: var(--second-color) !important;
     span {
      color: var(--third-color);
      font-size: 18px;
      font-weight: 600;
     }
     
  }
}
.questions {
  background-color: var(--background) !important;
}

.offers {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--second-color);
  margin-top: 35px;
  padding-bottom: 35px;
}

.offersCards {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.offersMainHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  color: var(--third-color);
  width: 1400px;
}

@media (max-width: 950px) {
  .offersMainHeader {
    width: 100%;
  }
}

.sectionName {
  font-family: var(--font-yeseva-one);
  font-size: 20px;
  color: var(--text-second-color);
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.offersHeaderDescription {
  display: flex;
  gap: 100px;
  font-size: 24px;
}

@media (max-width: 950px) {
  .offersCards {
    flex-direction: column;
    align-items: center;
  }
  
  .offersMainHeader {
    align-items: flex-start;
  }

  .offersHeaderDescription {
    width: 100%;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }

}

.descriptionCardWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1400px;
  gap: 35px;
}


@media (max-width: 950px) {
 .whatWeDo {
  width: 100%;
}

}


.whatWeDoOffersMainHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  color: var(--third-color);
  width: 1400px;
}

@media (max-width: 950px) {
  .whatWeDoOffersMainHeader {
    width: 100%;
  }
}

.whatWeDoSectionName {
  font-family: var(--font-yeseva-one);
  font-size: 20px;
  color: var(--text-second-color);
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-left: 15px;
}

.whatWeDoOffersHeaderDescription {
  display: flex;
  gap: 100px;
  font-size: 24px;
  
  span {
    text-align: center;
  }
}

@media (max-width: 950px) {
  .offersCards {
    flex-direction: column;
    align-items: center;
  }
  
  .whatWeDoOffersMainHeader {
    align-items: flex-start;
  }

  .whatWeDoOffersHeaderDescription {
    width: 100%;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }

}

/* .main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
} */


/* @media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #f9f6f1;
    --foreground: #f9f6f1;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
} */
