.footer {
    background: var(--third-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

@media (max-width: 450px) {
  .footer {
    align-items: center;
    padding: 20px 0;
  }
}