.footer {
    background: var(--third-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

@media (max-width: 450px) {
  .footer {
    align-items: center;
    padding: 20px 0;
  }
}

.foxWrapper {
  background: #000;
  width: 100%;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.foxLink {
  display: flex;
  align-items: center;
}