.mobileMenu {
    display: none;
}

.menu {
    display: flex;
    gap: 25px;

    a {
        cursor: pointer;
    }
}

@media (max-width: 950px) {
  .mobileMenu {
    display: flex;
  }

  .menu {
    display: none;
  }
  
}